@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("./../font/iconfont.css");
@import url("./template.less");
body,html{font-size: 14px;font-family: 'Open Sans', sans-serif}
button,input,a,p,div,b,strong,ul,li,em,label,span,html,body,dl,dt,tr,td{font-family: 'Open Sans', sans-serif}

/* BUTTON 
============================== */
.btn{border:1px solid #ccc;letter-spacing:.5px;cursor:pointer;color:#999;line-height:initial;background:#fff;transition:.3s all;display:inline-block;text-align:center;border-radius: @button-radius;}
.btn:hover{background:#fff;border-color:#aaa;color:#777;transition:.3s all}
.btn:hover,.btn:active,.btn:focus{box-shadow:none;outline:none}
.btn>i,.btn>span{display:inline-block;vertical-align:middle}
.btn>i{margin-right:5px}
.btn.sm{padding:4px 15px;font-size:12px;min-width:70px}
.btn.md{padding:6px 25px 7px;font-size:14px;min-width:110px}
.btn.lg{padding:6px 40px 7px;font-size:16px;min-width:150px}
.btn.fullwidth{width:100%}
.btn.primary{background:@primary;color:@primary-color;border:1px solid @primary}
.btn.primary:hover,.btn.primary:focus,.btn.primary:active{background:@primary-hover;border-color:@primary-hover}
.btn.success{background:@success;color:@success-color;border:1px solid @success}
.btn.success:hover,.btn.success:focus,.btn.success:active{background:@success-hover;border-color:@success-hover}
.btn.warning{background:@warning;color:@warning-color;border:1px solid @warning}
.btn.warning:hover,.btn.warning:focus,.btn.warning:active{background:@warning-hover;border-color:@warning-hover}
.btn.danger{background:@danger;color:@danger-color;border:1px solid @danger}
.btn.danger:hover,.btn.danger:focus,.btn.danger:active{background:@danger-hover;border-color:@danger-hover}
.btn:disabled{background:@disabled;border-color:@disabled-color;color:@disabled-color;cursor:not-allowed}
.btn.loading>i{animation:spin 2s linear infinite;display:inline-block}
.btn.loading{background:@loading;color:@loading-color;border-color:@loading}

/* LINK 
============================== */
.link{font-weight:400;text-decoration:none}
.link>*{display:inline-block;vertical-align:middle;color:inherit}
.link>i{margin-right:5px}
.link:hover,.link:focus,link:active{border-bottom-width: 1px;border-bottom-style: solid}
.link.back{color:#999}
.link.primary{color:@primary}
.link.primary:hover,.link.primary:focus,.link.primary:active{color: @primary-hover}
.link.success{color:@success}
.link.success:hover,.link.success:focus,.link.success:active{color: @success-hover}
.link.danger{color:@danger}
.link.danger:hover,.link.danger:focus,.link.danger:active{color: @danger-hover}
.link.warning{color:@warning}
.link.warning:hover,.link.warning:focus,.link.warning:active{color: @warning-hover}

/* KEYFRAMES 
============================== */
@keyframes spin {
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}