@import url("../font/iconfont.css");
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/* COLOR
===================================================================== */
/* BUTTON 
===================================================================== */
/* AUTO COLOR 
===================================================================== */
body,
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
button,
input,
a,
p,
div,
b,
strong,
ul,
li,
em,
label,
span,
html,
body,
dl,
dt,
tr,
td {
  font-family: 'Open Sans', sans-serif;
}
/* BUTTON 
============================== */
.btn {
  border: 1px solid #ccc;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #999;
  line-height: initial;
  background: #fff;
  transition: 0.3s all;
  display: inline-block;
  text-align: center;
  border-radius: 0;
}
.btn:hover {
  background: #fff;
  border-color: #aaa;
  color: #777;
  transition: 0.3s all;
}
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn > i,
.btn > span {
  display: inline-block;
  vertical-align: middle;
}
.btn > i {
  margin-right: 5px;
}
.btn.sm {
  padding: 4px 15px;
  font-size: 12px;
  min-width: 70px;
}
.btn.md {
  padding: 6px 25px 7px;
  font-size: 14px;
  min-width: 110px;
}
.btn.lg {
  padding: 6px 40px 7px;
  font-size: 16px;
  min-width: 150px;
}
.btn.fullwidth {
  width: 100%;
}
.btn.primary {
  background: #069;
  color: #ffffff;
  border: 1px solid #069;
}
.btn.primary:hover,
.btn.primary:focus,
.btn.primary:active {
  background: #004466;
  border-color: #004466;
}
.btn.success {
  background: #090;
  color: #ffffff;
  border: 1px solid #090;
}
.btn.success:hover,
.btn.success:focus,
.btn.success:active {
  background: #006600;
  border-color: #006600;
}
.btn.warning {
  background: #ffa500;
  color: #ffffff;
  border: 1px solid #ffa500;
}
.btn.warning:hover,
.btn.warning:focus,
.btn.warning:active {
  background: #e69500;
  border-color: #e69500;
}
.btn.danger {
  background: #c33;
  color: #ffffff;
  border: 1px solid #c33;
}
.btn.danger:hover,
.btn.danger:focus,
.btn.danger:active {
  background: #a32929;
  border-color: #a32929;
}
.btn:disabled {
  background: #f0f0f0;
  border-color: #cacaca;
  color: #cacaca;
  cursor: not-allowed;
}
.btn.loading > i {
  animation: spin 2s linear infinite;
  display: inline-block;
}
.btn.loading {
  background: #058;
  color: #ffffff;
  border-color: #058;
}
/* LINK 
============================== */
.link {
  font-weight: 400;
  text-decoration: none;
}
.link > * {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}
.link > i {
  margin-right: 5px;
}
.link:hover,
.link:focus,
link:active {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.link.back {
  color: #999;
}
.link.primary {
  color: #069;
}
.link.primary:hover,
.link.primary:focus,
.link.primary:active {
  color: #004466;
}
.link.success {
  color: #090;
}
.link.success:hover,
.link.success:focus,
.link.success:active {
  color: #006600;
}
.link.danger {
  color: #c33;
}
.link.danger:hover,
.link.danger:focus,
.link.danger:active {
  color: #a32929;
}
.link.warning {
  color: #ffa500;
}
.link.warning:hover,
.link.warning:focus,
.link.warning:active {
  color: #e69500;
}
/* KEYFRAMES 
============================== */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
